<mat-card>
    <h3>Create Account</h3>
    <form [formGroup]='newUserFormGroup' (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName='username'>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName='password'>
      </mat-form-field>
      <button mat-button type='submit'>Create Account</button>
    </form>
    <div *ngIf="!(isUsernameTaken | async); else usernameTaken">
      Username is available!
      <img src='../../../../assets/checkmark.png'>
    </div>
    <ng-template #usernameTaken>
      <div>
        Username is already taken.
        <img src='../../../../assets/xmark.png'>
      </div>
    </ng-template>
</mat-card>