.yomigana {
  line-height: initial;
  display: flex;
  > span {
    font-size: 0.8em;
    display: inline-block;
    text-align: center;
  }
}

.kanji {
  font-size: 2em;
  line-height: initial;
}

:host {
  margin: 36px 0;
  display: block;
}

// Yomigana dynamic css properties are set in .ts
