.yomigana {
  line-height: initial;
  > span {
    font-size: 0.8rem;
    display: inline-block;
  }
}

.kanji {
  font-size: 2rem;
  line-height: initial;
}

:host {
  margin: 36px 0;
  display: block;
}

// Yomigana dynamic css properties are set in .ts
