<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/">
      <b>{{ title }}</b>
    </a>
    <span class="flex-end">
      <a mat-button routerLink="./flashcards">Flashcards</a>
      <a mat-button [disabled]="!(isAuthorized$ | async)" routerLink="./flashcard-creator">
        Create Cards
      </a>
      <button mat-button *ngIf="!(isAuthorized$ | async)" (click)="createRegisterDialog()">
        Register
      </button>
      <button mat-button *ngIf="!(isAuthorized$ | async)" (click)="createLoginDialog()">
        Login
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
