<div>You scored: {{ score }} out of {{ mainTesterCards.length }}</div>

<mat-button-toggle-group>
  <mat-button-toggle
    *ngFor="let mainTesterCard of mainTesterCards; index as index"
    [checked]="index === currentQuestionIndex"
    (click)="currentQuestionIndex = index"
    [class.correct]="isAnswerRight(mainTesterCard.answers, index) | async"
    [class.incorrect]="!(isAnswerRight(mainTesterCard.answers, index) | async)"
  >
    {{ mainTesterCard.question }}
  </mat-button-toggle>
</mat-button-toggle-group>
<div *ngIf="currentQuestionIndex != -1">
  <p>Question: {{ mainTesterCards[currentQuestionIndex].question }}</p>
  <p>Answer: {{ mainTesterCards[currentQuestionIndex].answers }}</p>
  <p>You answered: {{ userAnswers[currentQuestionIndex] }}</p>
</div>
