mat-button-toggle-group {
  max-width: 100%;
  overflow-x: auto;
}

:host {
  display: block;
  margin: 1rem;
}

mat-button-toggle-group.expanding-description {
  border: unset;
  border-radius: unset;
  align-items: flex-start;
  margin-bottom: 1rem;

  mat-button-toggle.first-element {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  mat-button-toggle.last-element {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  mat-button-toggle {
    border: solid 1px rgba(0, 0, 0, 0.12);
  }
}

.sets-selector {
  display: flex;
  align-content: stretch;
  .buttons {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    button {
      border-radius: 4px;
    }
  }
  mat-button-toggle {
    display: flex;
    align-items: center;
  }
}
