<mat-button-toggle-group #supersetToggle class="expanding-description">
  <mat-button-toggle
    *ngFor="let superset of supersets$ | async; first as first; last as last"
    (click)="currentSuperset = superset"
    [ngClass]="{ 'first-element': first, 'last-element': last }"
  >
    <app-superset
      [superset]="superset"
      [isSelected]="currentSuperset?.Id === superset.Id"
    ></app-superset>
  </mat-button-toggle>
</mat-button-toggle-group>

<div *ngIf="sets$ | async as sets" class="sets-selector">
  <mat-button-toggle-group [multiple]="true">
    <mat-button-toggle *ngFor="let set of sets" (click)="selectSet(set)">
      {{ set.SetName }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="controls" *ngIf="selectedSets.length > 0">
  <button mat-raised-button color="primary" (click)="startTest()">Start Test</button>
</div>
