/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; // TODO Maybe build a custom theme

@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-indigo);

.firebase-auth-no-padding > mat-dialog-container {
  padding: 0;
}

//Angular-Mat
button.filled-button {
  background-color: mat-color($primary);
  color: white;
}
